@import '../../media.scss';

.pagination {
	margin-top: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: $m) {
	.pagination {
		justify-content: flex-start;
	}
}
