.button {
	width: 41px;
	height: 41px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 0.2s ease-in;

	border: 1px solid black;

	color: black;
}
.button.dark {
	border-color: #fff;
	color: #fff;
}

.button.none {
	opacity: 0.3;
	border-color: rgba($color: #000000, $alpha: 0.3);
}

.button.none.dark {
	border-color: rgba($color: #fff, $alpha: 0.3);
}

.button.active:hover {
	background-color: #ededed;
}
.button.active.dark:hover {
	background-color: #464646;
}
