@import '../../vars.scss';
@import '../../media.scss';

//use mobile first

.card {
	position: relative;

	overflow: hidden;

	width: $widthCardSm;
	height: $heightCardSm;

	border-radius: 20px;

	img {
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}
}

.description {
	position: absolute;
	left: 0;
	bottom: 15px;
	padding: 5px 15px;
	transform: translate(0, 95%);

	background-color: rgba(255, 255, 255, 0.75);

	width: 100%;
	height: 100%;

	transition: bottom 0.5s ease-in-out;

	h3 {
		@include fonts(18px, 20px, 700);
	}
}

.information {
	margin-top: 6px;

	display: flex;
	flex-flow: column;
	row-gap: 5px;

	p {
		@include fonts(13px, 20px, 500);
	}

	span {
		@include fonts(13px, 20px, 300);
	}
}

.card:hover {
	.description {
		bottom: 48%;
	}
}

@media (min-width: $m) {
	.card {
		width: $widthCardM;
		height: $heightCardM;
	}
}

@media (min-width: $xs) {
	.card {
		width: $widthCardXs;
		height: $heightCardXs;
	}
}
@media (min-width: $xl) {
	.card {
		width: $widthCardXl;
		height: $heightCardXl;
	}
}
