@import '../../vars.scss';
@import '../../media.scss';

.pictures {
	margin-top: 45px;

	display: grid;
	grid-template-columns: repeat(auto-fill, $widthCardSm);
	grid-auto-flow: row;
	gap: 20px;
	justify-content: center;
}

@media (min-width: $m) {
	.pictures {
		grid-template-columns: repeat(auto-fill, $widthCardM);
	}
}

@media (min-width: $xs) {
	.pictures {
		grid-template-columns: repeat(auto-fill, $widthCardXs);
	}
}
@media (min-width: $xl) {
	.pictures {
		grid-template-columns: repeat(auto-fill, $widthCardXl);
		column-gap: 20px;
	}
}
