@import '../../vars.scss';
@import '../../media.scss';

.filters {
	margin-top: 35px;

	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-flow: column;
	row-gap: 15px;
}

.standart {
	position: relative;

	width: 100%;
	max-width: 280px;
	border-radius: 8px;
	padding: 15px;

	@include fonts(13px, normal, 400);

	background: $lightTheme;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: $m) {
	.filters {
		flex-flow: row;
		column-gap: 20px;
	}

	.standart {
		max-width: 160px;
	}
}

@media (min-width: $xs) {
	.standart {
		max-width: 220px;
	}
}
@media (min-width: $xl) {
	.standart {
		max-width: 265px;
	}
}

.standart.dark {
	background: $darkTheme;
	border: 1px solid #fff;
	@include fonts(13px, normal, 400, #fff);
}

.name.light {
	color: rgba($color: $accentLightTheme, $alpha: 0.5);
}

.name.dark {
	color: rgba($color: $accentDarkTheme, $alpha: 0.5);
}

.select.open {
	border-color: #000000;
	border-bottom: none;
	z-index: 3;
}

.select.dark {
	border-color: #fff;
}

.standart.open {
	border-radius: 8px 8px 0 0;
}

.selectMenu {
	@include fonts(16px, 20px, 500);
	@extend %menuStandart;

	height: 365px;
	padding: 15px 0;

	border: 1px solid #000000;
	background-color: #fff;

	border-top: 1px solid rgba(0, 0, 0, 0.3);

	display: flex;
	flex-flow: column;
	row-gap: 10px;

	overflow-y: scroll;

	div {
		padding: 10px 30px;
		transition: background-color, color 0.3s ease;
		cursor: pointer;
	}

	div:hover {
		background-color: #000000;
		color: #fff;
	}
}

.selectMenu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #7b7b7b;
	width: 9px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.selectMenu.dark {
	@include fonts(16px, 20px, 500, #fff);
	border: 1px solid #fff;
	background-color: #000;

	border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
	div:hover {
		background-color: #fff;
		color: #000;
	}
}

.label {
	display: flex;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
}

.selectedChoce {
	width: 80%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	column-gap: 10px;

	overflow-x: auto;

	span {
		white-space: nowrap;
	}
}

.selectedChoce::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #7b7b7b;
	width: 9px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.dateBox.open {
	border-color: #000000;
	border-bottom: none;
	z-index: 3;
}

.dateBox.open.dark {
	border-color: #fff;
	border-bottom: none;
	z-index: 3;
}

.dateMenu {
	@extend %menuStandart;
	padding: 20px;

	border: 1px solid #000000;
	border-top: none;

	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;

	background-color: #fff;

	span {
		width: 12px;
		height: 1px;
		background: #000;
	}

	input {
		width: 100%;
		padding: 15px;
		border-radius: 8px;

		background-color: #efefef;
	}
}

.dateMenu.dark {
	border-color: #fff;
	background-color: #000;
	span {
		background-color: #fff;
	}
}

.closeField {
	@extend %closeField;
}
