@import './media.scss';
.App {
	width: 100%;
	min-height: 100vh;
	padding: 35px 0 100px 0;
	margin: 0 auto;

	font-family: 'Roboto', sans-serif;
}

.App.light {
	background-color: white;
}

.App.dark {
	background-color: black;
}

.Container {
	width: calc($sm - (20px * 2));

	margin: 0 auto;
}

@media (min-width: $m) {
	.Container {
		width: calc($m - (34px * 2));
	}
}

@media (min-width: $xs) {
	.Container {
		width: calc($xs - (42px * 2));
	}
}
@media (min-width: $xl) {
	.Container {
		width: calc($xl - (123px * 2));
	}
}
