@import './media.scss';
.App {
	max-width: 1366px;
	min-height: 100vh;
	padding: 35px 0 100px 0;
	margin: 0 auto;

	font-family: 'Roboto', sans-serif;

	overflow-y: scroll;
}

.App.light {
	background-color: white;
}

.App.dark {
	background-color: black;
}

.Container {
	width: 88.89%;

	margin: 0 auto;
}

@media (min-width: $m) {
	.Container {
		width: 91.67%;
	}
}

@media (min-width: $xs) {
	.Container {
		width: 91.8%;
	}
}
@media (min-width: $xl) {
	.Container {
		width: 82.991215227%;
	}
}
