@import './media.scss';
.App {
	max-width: 1366px;
	padding: 35px 0 100px 0;
	margin: 0 auto;

	font-family: 'Roboto', sans-serif;

	overflow-y: scroll;
}

.App.light {
	background-color: white;
}

.App.dark {
	background-color: black;
}

.Container {
	max-width: 1366px;
	width: 81.991215227%;

	margin: 0 auto;
}

@media (max-width: $xs) {
	.Container {
		width: 91.8%;
	}
}

@media (max-width: $m) {
	.Container {
		width: 91.67%;
	}
}

@media (max-width: $sm) {
	.Container {
		width: 88.89%;
	}
}
