$xl: 1366px;
$xs: 1024px;
$m: 768px;
$sm: 360px;

$widthCardXl: 360px;
$heightCardXl: 275px;

$widthCardXs: 300px;
$heightCardXs: 230px;

$widthCardM: 340px;
$heightCardM: 249px;

$widthCardSm: 280px;
$heightCardSm: 205px;
